body {
  font-family: 'Lato', sans-serif;
  color: #131313;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0;
}

header {
  padding-top: 265px;
  padding-bottom: 200px;
  position: relative;
  background-image: url(../images/firstbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 700px;
}

header .header__top {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 66px;
  background: rgba(0, 0, 0, 0.6);
}

header .header__top img {
  position: absolute;
}

header .header__top .container .menu {
  margin-right: 0;
  margin-left: auto;
  padding: 0;
  text-align: right;
  max-width: 900px;
}

header .header__top .container .menu li {
  display: inline-block;
  text-transform: uppercase;
  line-height: 67px;
  margin-left: 36px;
}

header .header__top .container .menu li a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #a4a4a4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

header .header__top .container .menu li a:hover {
  color: white;
}

header .header__top .container .menu li a:hover:before {
  left: 50%;
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 27px;
  background-color: #ff0036;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .header__top .container .menu li a:hover:after {
  left: 50%;
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 27px;
  background-color: #ff0036;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .header__content {
  min-height: 230px;
  color: #fff;
}

header .header__content .header__content__title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

header .header__content .header__content__title span {
  color: #ff0036;
}

header .header__content .header__content__description {
  text-align: center;
  color: #fff;
  max-width: 1030px;
  margin: 40px auto 0 auto;
}

.btn__red {
  margin-top: 45px;
  text-transform: uppercase;
  padding: 10px 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #ff0036;
  border: 0;
  width: 170px;
}

.btn__red:hover {
  background-color: #fe5478;
}

.btn__black {
  margin-top: 45px;
  text-transform: uppercase;
  padding: 10px 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #131313;
  border: 0;
  width: 170px;
}

.btn__black:hover {
  background-color: #6c6b6b;
}

.about_creativia {
  padding: 100px 0 100px 0;
}

.about_creativia_h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #131313;
  font-size: 30px;
  font-weight: bold;
}

.about_creativia_h1 span {
  color: #ff0036;
}

.about_creativia_p {
  text-align: center;
  margin-top: 53px;
  font-size: 16px;
  font-weight: bold;
}

.about_creativia_p span {
  color: #ff0036;
}

.spoiler__p {
  margin-top: 105px;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 43px;
}

.spoiler__block-item {
  margin-bottom: 10px;
}

.spoiler__block-item__title {
  padding-left: 91px;
  font-size: 20px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

.spoiler__block-item__text {
  padding: 10px 16px;
  text-align: justify;
  display: none;
}

.spoiler .selected {
  color: #ff0036;
}

.about_creativia_images {
  margin-top: 105px;
}

.scroll_bar {
  display: block;
  margin: 100px auto;
  width: 515px;
}

.about_creativia_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 210px;
}

.about_creativia_item_title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.about_creativia_item_text {
  font-size: 16px;
  text-align: center;
}

.portfolio {
  padding-bottom: 110px;
  background-color: #131313;
}

.portfolio_inner_title {
  padding: 106px 0;
  background-color: #131313;
}

.portfolio_inner_title_h3 {
  text-align: center;
  font-family: Raleway;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.portfolio_inner_title_menu_ul {
  margin-top: 10px;
  text-align: center;
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  color: #a4a4a4;
}

.portfolio_inner_title_menu_li {
  text-transform: uppercase;
  display: inline;
}

.portfolio_inner_title_menu_li:not(:first-child) {
  margin-left: 22px;
}

.portfolio_inner_title_menu_li:hover {
  color: #ff0036;
  cursor: pointer;
}

.portfolio_examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  -ms-grid-rows: (300px)[2];
      grid-template-rows: repeat(2, 300px);
}

.portfolio_examples .portfolio_examples_item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.portfolio_examples .portfolio_examples_item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.portfolio_examples .portfolio_examples_item:nth-child(2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
}

.portfolio_examples .portfolio_examples_item:nth-child(3) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
}

.portfolio_examples .portfolio_examples_item:nth-child(4) {
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-column: 12/15;
}

.portfolio_examples .portfolio_examples_item:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.portfolio_examples .portfolio_examples_item:nth-child(6) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.portfolio_examples .portfolio_examples_item:nth-child(7) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
}

.portfolio_examples .portfolio_examples_item:nth-child(8) {
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11/15;
}

.portfolio_examples .portfolio_examples_item .content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.portfolio_examples .portfolio_examples_item:hover .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.portfolio_examples .portfolio_examples_item:hover .content img {
  margin-right: 10px;
}

.portfolio_examples .portfolio_examples_item:hover .content .img__link {
  color: #fff;
}

.portfolio_examples .portfolio_examples_img {
  width: 100%;
}

.team {
  padding: 100px 117px 96px 117px;
}

.team .team-content-title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.team .team-content-title span {
  color: #ff0036;
}

.team .team-content-text {
  margin-top: 54px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.team .team-content-text span {
  color: #ff0036;
}

.team .team-content-persons {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .team-content-persons-item {
  text-align: center;
  border: 1px solid #e7e7e7;
}

.team .team-content-persons-item img {
  overflow: hidden;
  width: 270px;
  height: 240px;
  position: relative;
}

.team .team-content-persons-item-name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 34px;
  text-transform: uppercase;
}

.team .team-content-persons-item-profession {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-top: 25px;
  color: #505050;
  margin-bottom: 34px;
}

.team .team-content-persons-item-hidden {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.team .team-content-persons-item-hidden:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=style.css.map */